<div class="card" style="width: 18rem;">
  {% if preview != None %}
    {{preview}}
  {% elif item.image_tmb != None %}
      {{item.image_tmb}}
  {% else %}
      <h6 class="text-center colorText" style="font-style:italic">(Изображение отсутствует)</h6>
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{item.name}}</h4>
    <p class="card-text">
      {% if is_item_list == False %}
      <h5>{{item.category}}</h5>
    {% endif %}
    <h6>Теги:
    {% for tag in item.tags.all %}
        {{tag.name}} 
    {% endfor %}
    </h6>
    {% if is_item_detail == True%}
      {{text|safe}}
    {% else %}
      {% for text in texts %}
        {% if forloop.counter == forloop.parentloop.counter %}
          {{text|truncatewords:10|safe}}
        {% endif %}
      {% endfor %}
    {% endif %}
    </p>
    {% if is_item_detail == False %}
      <a href="{% url 'catalog:item_detail' pk=item.id %}" class="btn btn-primary colorLight">Перейти к товару</a>
    {% endif %}
  </div>
</div>
