<div class="card" style="width: 18rem;">
  {% with request.resolver_match.view_name as view_name %}
  {% if item.main_image != None %}
      {{item.main_image.image_tmb}}
  {% else %}
      <h6 class="text-center colorText" style="font-style:italic">(Изображение отсутствует)</h6>
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{item.name}}</h4>
    <p class="card-text">
      {% if view_name != 'catalog:item_list' %}
      <h5>{{item.category}}</h5>
    {% endif %}
    <h6>Теги:
    {% for tag in item.tags.all %}
        {{tag.name}} 
    {% endfor %}
    </h6>
    {% if view_name == 'catalog:item_detail' %}
    {{ item.text.html|safe }}
    {% else %}
      {{ item.text.html|truncatewords:10|safe }}
    {% endif %}
    {% if view_name != 'catalog:item_detail' %}
      <a href="{% url 'catalog:item_detail' pk=item.id %}" class="btn btn-primary colorLight">Перейти к товару</a>
    {% endif %}
  </div>
  {% endwith %} 
</div>
