{% for item in items %}
  <div class="colorText text-center">
    <h4>{{item.name}}</h4>
    <h5>{{item.category}}</h5>
    <h6>Теги:
    {% for tag in item.tags.all %}
       {{tag.name}} 
    {% endfor %}
    </h6>
    <!-- Я не знаю как по-другому -->
    {% for text in texts %}
      {% if forloop.counter == forloop.parentloop.counter %}
        {{text|truncatewords:10|safe}}
      {% endif %}
    {% endfor %}
  </div>
  {% empty %}
    <div class="row align-items-center">
      <div class="col-12 colorText">
        <h4>Каталог пуст</h3>
      </div>
    </div>
{% endfor %}