{% extends 'base.html' %}
{% load static %}
{% block title %} Зарегестрированные пользователи {% endblock %}
{% block content %} 
<div class="row">
  <div class="col-12">
    <h2 class="text-center colorText">(〜￣▽￣)〜 Список пользователей 〜(￣▽￣〜)</h2>
  </div>
  <div class="col-12">
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for user in users %}
        <div class="col-3 colorText align-items-center text-center">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">{{user.login}}</h5>
                  <p class="card-text">{{user.email}}</p>
                  <a href="{% url 'users:user_detail' pk=user.id %}" class="btn btn-primary">О пользователе</a>
                </div>
              </div>
            </br>
        </div>
      {% empty %}
      <div class="row text-center">
        <div class="col-12 colorText">
          <h4>Список пользователей пуст</h4>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}