{% extends 'base.html' %}
{% load static %}
{% block title %} {{item.name}} {% endblock %}
{% block content %} 
<div class="row">
  <div class="col-12">
    <h2 class="text-center colorText">{{item.name}}</h2>
  </div>
  <div class="col-12">
    <h4 class="text-center colorText">Категория: {{item.category}}</h4>
  </div>
  <div class="col-12">
    <h6 class="text-center colorText">Теги:
    {% for tag in item.tags.all %}
       {{tag.name}} 
    {% endfor %}
    </h6>
  </div>
  <div class="col-12 text-center">
    {% if preview != None %}
      {{preview}}
    {% else %}
      <h6 class="text-center colorText" style="font-style:italic">(Изображение отсутствует)</h6>
    {% endif %}
  </div>
  <div class="col-12 text-center">
    <h6 class="colorText">Описание:</h6> {{text|safe}}
  </div>
</div>

{% endblock %}