{% extends 'base.html' %}
{% load static %}
{% block title %} Каталог {% endblock %}
{% block content %} 
<div class="row">
  <div class="col-12">
    <h2 class="text-center colorText">(〜￣▽￣)〜 Список товаров 〜(￣▽￣〜)</h2>
  </div>
  <div class="col-12">
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for item in items %}
        {% ifchanged %}
          <div class="col-12 colorText align-items-center">
            <h3 style="text-decoration:underline">{{item.category}}</h3>
          </div>
        {% endifchanged %}
        <div class="col-4 colorText align-items-center">
          {% include "catalog/includes/item.html" %}
        </div>
      {% empty %}
      <div class="row align-items-center">
        <div class="col-12 colorText">
          <h4>Каталог пуст</h4>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}